<?xml version="1.0"?>
<model>
    <name>d3im3r_arena_walls</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Deymer Miranda</name>
        <email>d3im3r@gmail.com</email>
    </author>

    <description>
        Arena boundary walls for TurtleBot3 custom RL worlds.
    </description>
</model>