<?xml version="1.0"?>
<model>
    <name>d3im3r_goal_marker</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Deimer Miranda</name>
        <email>demiranda@unal.edu.co</email>
    </author>

    <description>
        Simple visual goal marker for TurtleBot3 navigation and RL experiments.
    </description>
</model>